ul {
    list-style-type: none;
  }
body { 
    padding-top: 65px; 
}
span { border: 0px solid #ccc; float: left; width: 36px; height: 24px; margin-right: 3px; }
/* your colors */
.living_room { background-color: #EE4D4D; }
.kitchen { background-color: #C67C7B; }
.dining_room { background-color: #E87A90; }
.bedroom { background-color: #FFD274; }
.study_room { background-color: #FF8C69; }
.bathroom { background-color: #BEBEBE; }                    
.balcony { background-color: #BFE3E8; }
.entrance { background-color: #7BA779; }
.storage { background-color: #1F849B; }
.front_door { background-color: #727171; }
.interior_door { background-color: #D3A2C7; }
.unkown { background-color: #785A67; }

.wrapScroll {
  white-space: nowrap;
  overflow-x: auto;
  border: 1px solid;
}