:root {
  --color-dark: #333;
  --color-light: #727272;
  --color-blue: #2470dc;
  --color-black: rgba(0, 0, 0, .25);
  --color-white: rgba(255, 255, 255, .1);
  --color-white-focus: rgba(255, 255, 255, .25);
}

.sidebar-image {
  height: 90%;
  width: 90%;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 var(--color-black);
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--color-dark);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: var(--color-light);
}

.sidebar .nav-link.active {
  color: var(--color-blue);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.navbar-brand {
  padding: .75rem;
  background-color: var(--color-black);
  box-shadow: inset -1px 0 0 var(--color-black);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px var(--color-white-focus);
}